<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>MobileMura</name>
	<package>MobileMura</package>
	<loadPriority>5</loadPriority>
	<version>0.6.50</version>
	<provider>Guust Nieuwenhuis</provider>
	<providerURL>http://www.lagaffe.be</providerURL>
	<category>Application</category>
	<settings />
	<EventHandlers>
		<eventHandler event="onApplicationLoad" component="event.pluginEventHandler" persist="true" />
		<eventHandler event="standardMobileHandler" component="event.pluginEventHandler" persist="true" />
		<eventHandler event="onAfterContentSave" component="event.pluginEventHandler" persist="true" />
		<eventHandler event="onContentEdit" component="event.pluginEventHandler" persist="true" />
	</EventHandlers>
	<DisplayObjects location="global">
		<DisplayObject name="MobileSwitcher" component="public.display.displayManager" displaymethod="mobileSwitcher" persist="false" />
	</DisplayObjects>
</plugin>